&.position-bottom {
  flex-direction: column-reverse;

  @import 'common';

  ul {
    border-bottom: none;
    border-top-color: $tabs-border-bottom-color;
    border-top-style: $tabs-border-bottom-style;
    border-top-width: $tabs-border-bottom-width;
  }

  a {
    margin-bottom: 0;
    margin-top: -#{$tabs-border-bottom-width};
    border-bottom-color: transparent;
    border-top-color: $tabs-border-bottom-color;
    border-top-style: $tabs-border-bottom-style;
    border-top-width: $tabs-border-bottom-width;

    &:hover {
      border-bottom-color: transparent;
      border-top-color: $tabs-link-hover-border-bottom-color;
    }
  }

  &.is-toggle {
    ul {
      border-top: none;
    }

    a {
      margin-top: 0;
      border-color: $tabs-toggle-link-border-color;
    }
  }

  &.is-boxed {
    a {
      border-radius: 0 0 $tabs-boxed-link-radius $tabs-boxed-link-radius;
    }
  }

  li.is-active {
    a {
      border-bottom-color: transparent;
      border-top-color: $tabs-link-active-border-bottom-color;
    }
  }

  &.is-boxed a:hover {
    border-bottom-color: transparent;
    border-top-color: $tabs-boxed-link-hover-border-bottom-color;
  }

  &.is-toggle li.is-active {
    a {
      border-color: $tabs-toggle-link-active-border-color;
    }
  }

  &.is-boxed li.is-active {
    a {
      border-bottom-color: $tabs-boxed-link-active-border-color !important;
      border-top-color: $tabs-boxed-link-active-border-bottom-color !important;
    }
  }
}
