&.position-left {
  flex-direction: row;

  @import 'common';

  ul {
    border-bottom: none;
    border-right-color: $tabs-border-bottom-color;
    border-right-style: $tabs-border-bottom-style;
    border-right-width: $tabs-border-bottom-width;
    flex-direction: column;
    flex-grow: 0;

    li {
      width: 100%;
    }
  }

  a {
    border-bottom-color: transparent;
    border-right-color: $tabs-border-bottom-color;
    border-right-style: $tabs-border-bottom-style;
    border-right-width: $tabs-border-bottom-width;
    margin-bottom: 0;
    margin-right: -#{$tabs-border-bottom-width};

    &:hover {
      border-bottom-color: transparent;
      border-right-color: $tabs-link-hover-border-bottom-color;
    }
  }

  &.is-boxed {
    a {
      border-radius: $tabs-boxed-link-radius 0 0 $tabs-boxed-link-radius;
    }
  }

  &.is-toggle {
    ul {
      border-right: none;
      border-left: none;
    }

    a {
      margin-right: 0;
      border-bottom-color: $tabs-border-bottom-color;
    }
  }

  li.is-active {
    a {
      border-bottom-color: transparent;
      border-right-color: $tabs-link-active-border-bottom-color;
    }
  }

  &.is-boxed a:hover {
    border-bottom-color: transparent;
    border-right-color: $tabs-boxed-link-hover-border-bottom-color;
  }

  &.is-toggle a:hover {
    border-bottom-color: $tabs-border-bottom-color;
  }

  &.is-boxed li.is-active {
    a {
      border-bottom-color: $tabs-boxed-link-active-border-color !important;
      border-right-color: $tabs-boxed-link-active-border-bottom-color !important;
    }
  }

  &.is-toggle li {
    & + li {
      margin-left: 0;
      margin-top: -#{$tabs-toggle-link-border-width};
    }

    &:first-child a {
      border-radius: $tabs-boxed-link-radius $tabs-boxed-link-radius 0 0;
    }

    &:last-child a {
      border-radius: 0 0 $tabs-boxed-link-radius $tabs-boxed-link-radius;
    }
  }

  &.is-toggle.is-toggle-rounded {
    li {
      &:first-child a {
        border-radius: $radius-rounded $radius-rounded 0 0;
        padding-left: 0;
        padding-top: 1.25em;
      }

      &:last-child a {
        border-radius: 0 0 $radius-rounded $radius-rounded;
        padding-right: 0;
        padding-bottom: 1.25em;
      }
    }
  }

  &.is-left {
    ul {
      padding-right: 0;
    }
  }

  &.is-center {
    ul {
      flex: none;
      align-content: center;
      padding-top: 0.75em;
      padding-bottom: 0.75em;
    }
  }

  &.is-right {
    ul {
      justify-content: initial;
      padding-left: 0;
    }
  }
}
