@import 'variables';

.tabs {
  flex-direction: column;

  a {
    &.disabled {
      pointer-events: none;
      color: $grey-light;
    }
  }

  @import 'top';
  @import 'bottom';
  @import 'left';
  @import 'right';

  .tab-panes {
    flex: 1;
    padding: 0.5rem;
  }

  .tab-pane {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
